{% extends "layouts/default.twig" %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        var input = document.getElementById('form-user-photo')
        var label = input.previousElementSibling
        var originalLabelValue = label.innerHTML

        input.addEventListener('change', function (e) {
            if (this.files) {
                fileName = e.target.value.split('\\').pop()
            }

            if (fileName) {
                label.querySelector('span').innerHTML = fileName
            } else {
                label.innerHTML = originalLabelValue
            }
        })
    </script>
{% endblock %}

{% block content %}
<div class="flex">
    <div class="w-1/2 mr-4">
        <h2 class="headline">My Profile</h2>
    </div>
    <div class="w-1/2 mr-4">
        <h2 class="headline text-right">Conference date {{ site.event_start | date(site.date_format, false) }} - {{ site.event_end | date(site.date_format, false) }}</h2>
    </div>
</div>

    {% include 'forms/_user.twig' %}
{% endblock %}
